body {
    background-color: #212121;
}

#content {
    color: #f5f5f5;
}

#search {
    border: 1px solid #f5f5f5;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

#basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#audio {
    margin-top: 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

#close, #searchButton {
    cursor: pointer;
}